/* header */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(18, 18, 18);
    color: aqua;
    width: 100%;
    margin: 0px
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:aqua;
  padding: 10px 20px;
  color: black;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}
/* Hamburger Icon */
.menu-icon {
  font-style:italic;
  display: none;
  font-size: 26px;
  cursor: pointer;
}



.sticky {
    position: sticky;
    top: 2px;
}



.nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;

}

.searchBar {
    border: 3px aqua solid;
    border-radius: 10px;
}

/* Media Query1 */
@media (max-width: 768px) 
{
  .menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: black;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .menu li {
    margin: 15px 0;
  }

  /* Show hamburger icon */
  .menu-icon {
    display: block;
  }

  /* Checkbox Hack: Show Menu When Checked */
  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
     color: black;
    background-color: aqua;
  }
}

/* Hide checkbox */
#menu-toggle {
  display: none;
}

/* media Query2 */
@media (min-width:769px) and (max-width:1024px) {
    body {
        font-family: 'Courier New', Courier, monospace;
        background-color: black;
        color: white;
        width: 100%;
        margin: 0px;
    }

    .nav ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 0.5fr));
        justify-content: center;
        padding: 10px;
    }

    .intro {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-items: center;
        flex-wrap: wrap;
        padding: 20px;
    }
}

/* media Query3 */
@media (min-width:1025px) and (max-width:1256px) {
    body {
        font-family: 'Courier New', Courier, monospace;
        background-color: black;
        color: white;
        width: 100%;
        margin: 0px;
    }

}

/* main content */
.intro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
}

.content {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.resume {
    background-color: aqua;
    color: black;
    border: 5px rgb(17, 241, 241) solid;
    border-radius: 8px;

}

/* footer */

.links {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    text-align: center;

}

.email,
.LinkedIn,
.GitHub,
.NavItems.hover {
    cursor: grab;
}