/* header */

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(17, 16, 16);
    width: 100%;
    margin: 0px;
    color: aqua;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:aqua;
  padding: 10px 20px;
  color: black;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

/* Hamburger Icon */
.menu-icon {
  font-style:italic;
  display: none;
  font-size: 26px;
  cursor: pointer;
}


.sticky {
    position: sticky;
    top: 2px;
}


.nav ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;

}

.searchBar {
    border: 3px aqua solid;
    border-radius: 10px;
}

/* footer */

.links {
    display: flex;
    justify-content: space-evenly;
}

.footer {
    text-align: center;

}

.email,
.LinkedIn,
.GitHub,
.NavItems.hover {
    cursor: grab;
}

.skills {
   align-content: center;

}

.AllSkills {
    padding: 90px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    grid-row: 2fr 2fr 2fr;
    gap: 90px;
   align-content: center;
   
   flex-wrap: wrap;
    

}

.skill1,
.skill2,
.skill3,
.skill4,
.skill5,
.skill6,
.skill7,
.skill8 {
    border: 8px solid aqua;
    width: fit-content;
    height: 200px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
}

.skill1:hover,
.skill2:hover,
.skill3:hover,
.skill4:hover,
.skill5:hover,
.skill6:hover,
.skill7:hover,
.skill8:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;

}

/* media Query 1 */
@media (max-width:786px){


.menu {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background: black;
    flex-direction: column;
    align-items: center;
    display: none;
  }

  .menu li {
    margin: 15px 0;
  }

  /* Show hamburger icon */
  .menu-icon {
    display: block;
  }

  /* Checkbox Hack: Show Menu When Checked */
  #menu-toggle:checked + .menu-icon + .menu {
    display: flex;
     color: black;
    background-color: aqua;
  }

.AllSkills {
   
    padding: 20px;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-row: 2fr 2fr 2fr;
    gap: 90px;
   justify-content: center;

}

}
/* Hide checkbox */
#menu-toggle {
  display: none;
}